body{
	background-image: url("https://th.bing.com/th/id/R.ceefbda99817085c3309bce31ec9e619?rik=L0Aw84gKNzUj%2fw&pid=ImgRaw&r=0");
	 font-size: 16px;

}
h1{
	color:white;
	text-align:center;
}
button{
	border-radius: 7px;
	border: none;
	cursor: pointer;
	margin-top: 100px;
	margin-left: 100px;
	margin-right: 100px;
	 

}
 @media (max-width: 480px) {
  body {
    font-size: 12px;
  }
